body {
  font-family: 'Noto Sans Kr', sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

#header {
  background-color: aquamarine;
  text-align: center;
  padding: 20px;
 
}
li {
  display:inline;
  margin: 20px;
}

a:hover{
  color: white;
}
.bigtext{
  font-size:25px;
  
}
#clickme{
  color: red;
}

h1 {
  text-align: center
}